div.list {
  h4.list-title {
    margin: 0;
  }
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 8px;
  padding: 16px;

  div.add-task {
    margin-left: -3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: blue;
    }
    span {
      margin-left: 8px;
    }
  }
}
